/* header */
#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99999;
}
#header .header__area{
    padding: 0 20px;
}
#header .header__area .header__wrap{
    position: relative;
}
#header .header__area .header__wrap .header__logo-wrap{}
#header .header__area .header__wrap .header__logo-wrap .header__logo{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}
#header .header__area .header__wrap .header__logo-wrap .header__logo a{}
#header .header__area .header__wrap .header__logo-wrap .header__logo a img{}
#header .header__area .header__wrap .header__menu{
    position: absolute;
    left: 0;
    top: 10px;
}
#header .header__area .header__wrap .header__menu .header__menu-button-wrap{}
#header .header__area .header__wrap .header__menu .header__menu-button-wrap .header__menu-button{}
#header .header__area .header__wrap .header__menu .header__menu-button-wrap .header__menu-button img{}
#header .header__area .header__wrap .header__right-menu{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
#header .header__area--style-title{}
#header .header__area--style-title .header__wrap{
    min-height: 60px;
}
#header .header__area--style-title .header__title-wrap{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#header .header__area--style-title .header__title-wrap .title{
    font-size: 18px;
    font-weight: 600;
}
#header .header__area--style-title .header__left-menu{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
#header .header__area--style-title .header__left-menu-wrap{}
#header .header__area--style-title .header__right-menu{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
#header .header__area--style-title .header__left-menu-wrap{}
#header .header__area--style-title .header__menu-button{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
}
#header .header__area--style-title .header__right-menu .header__menu-button{
    justify-content: flex-end;
}
#header .header__area--style-title .header__menu-button img{}
.header-transparent #header{
    background-color: transparent;
}
#wrapper.pt0{
    padding-top: 0;
}
.header-transparent #header .header__area--style-title .header__title-wrap .title{
    color: #fff !important;
}
.header-transparent #header .header__area--style-title .header__menu-button img{
    filter: brightness(0) invert(1);
}

/* sidebar */
#sidebar{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
.sidebar__bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-color: rgba(0, 0, 0, 0.3);
}
.sidebar__area{
    position: relative;
    width: 264px;
    height: 100%;
    background-color: #fff;
}
.sidebar__wrap{
    max-height: 100%;
    overflow-y: auto;
    padding: 24px 20px 84px;
}
.sidebar__user-info{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E4E7EA;
}
.sidebar__status{}
.sidebar__status--logout{}
.sidebar__status--login{}
.sidebar__status--logout .sidebar__text-wrap{
    margin-bottom: 22px;
}
.sidebar__status--logout .sidebar__text-wrap .sidebar__text{
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
}
.sidebar__status--logout .sidebar__button-wrap{}
.sidebar__status--logout .sidebar__button-wrap .sidebar__button{}
.sidebar__status--logout .sidebar__button-wrap .sidebar__button .sidebar__text{}
.sidebar__user-info-area{
    display: flex;
    align-items: center;
}
.sidebar__profile{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.sidebar__profile-link{}
.sidebar__user-details{
    width: 100%;
    padding-left: 16px;
}
.sidebar__name-wrap{
    display: flex;
    align-items: center;
}
.sidebar__name{
    font-size: 20px;
}
.sidebar__name strong{
    font-weight: 700;
}
.sidebar__name span{
    margin-left: 4px;
    font-weight: 400;
}
.sidebar__arrow{}
.sidebar__email-wrap{
    margin: 5px 0 0;
}
.sidebar__email{
    color: #C6C9D1;
    font-size: 12px;
    font-weight: 400;
}
.sidebar__member-menu{
    margin: 20px 0 0;
}
.sidebar__member-menu .sidebar__menu-list{
    display: flex;
    align-items: flex-start;
    align-items: center;
    text-align: center;
    margin: 0 -14px;
}
.sidebar__member-menu .sidebar__menu-item{
    width: 33.33%;
    padding: 0 14px;
}
.sidebar__member-menu .sidebar__menu-inner{}
.sidebar__member-menu .sidebar__menu-link{
    display: block;
}
.sidebar__member-menu .sidebar__menu-icon-wrap{}
.sidebar__member-menu .sidebar__menu-icon{}
.sidebar__member-menu .sidebar__menu-title-wrap{
    margin: 8px 0 0;
}
.sidebar__member-menu .sidebar__menu-title{
    white-space: nowrap;
    color: #6D6F73;
    font-size: 13px;
    font-weight: 400;
}
.sidebar__menu{}
.sidebar__menu .sidebar__menu-list{
    margin: -12px 0 0;
}
.sidebar__menu .sidebar__menu-item{
    padding: 12px 0 0;
}
.sidebar__menu .sidebar__menu-inner{}
.sidebar__menu .sidebar__menu-link{
    display: flex;
    width: 100%;
    padding: 2px 0;
    align-items: center;
}
.sidebar__menu .sidebar__menu-icon-wrap{
    width: 36px;
    min-width: 36px;
    max-width: 36px;
}
.sidebar__menu .sidebar__menu-icon{}
.sidebar__menu .sidebar__menu-title-wrap{
    width: 100%;
    padding-left: 12px;
}
.sidebar__menu .sidebar__menu-title{
    color: #6D6F73;
    font-size: 14px;
    font-weight: 400;
}
.sidebar__bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 20px 24px;
    background-color: #fff;
}
.sidebar__button-wrap{}
.sidebar__button{}
.sidebar__button--point{}
.sidebar__button--gray-stroke{}

/* footer */
.customer-center{
    padding-bottom: 32px !important;
}
.customer-center__area{}
.customer-center__text{}
.customer-center__title-wrap{
    display: flex;
    align-items: center;
}
.customer-center__title{
    color: #333;
    font-size: 18px;
    font-weight: 600;
    margin-right: 4px;
}
.customer-center__time{
    font-size: 18px;
    font-weight: 700;
}
.customer-center__text-wrap{
    margin: 8px 0 0;
}
.customer-center__info{
    position: relative;
    padding-left: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #4E5157;
    line-height: 24px;
}
.customer-center__info::before{
    content: '·';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 24px;
    text-align: center;
    transform: scale(1.5);-moz-transform: scale(1.5);-webkit-transform: scale(1.5);-o-transform: scale(1.5);
}
.customer-center__buttons{
    display: flex;
    align-items: center;
    margin: 16px -4px 0;
}
.customer-center__button-wrap{
    width: 50%;
    padding: 0 4px;
}
.footer{
    padding: 0 20px 70px;
    background-color: #F3F6F9;
}
.footer__area{}
.footer__nav{}
.footer__list{
    display: flex;
    height: 45px;
    margin-right: -16px;
    align-items: center;
    justify-content: flex-start;
}
.footer__item{
    padding-right: 16px;
}
.footer__item-inner{}
.footer__button{
    display: block;
}
.footer__button-text{
    color: #8A8D93;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
}
.footer__info{
    margin: 14px 0 0;
}
.footer__info-text-area{}
.footer__info-text-wrap{}
.footer__info-text{
    color: #8A8D93;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
}
.footer__info-text a{
    text-decoration: underline;
}
/* bottom fixed nav */
.bottom-fixed-nav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99999;
}
.bottom-fixed-nav__nav{}
.bottom-fixed-nav__list{
    display: flex;
    height: 64px;
    padding: 0 15px;
    margin: 0 -20px;
    align-items: center;
    justify-content: center;
}
.bottom-fixed-nav__item{
    width: 20%;
    padding: 0 20px;
}
.bottom-fixed-nav__item-inner{}
.bottom-fixed-nav__button{}
.bottom-fixed-nav__icon{}
.bottom-fixed-nav__icon img{}

/* common style */
#wrapper{
    overflow: hidden;
    padding: 60px 0 64px;
}
.point-color{
    color: #57B9B1 !important;
}
.c-gray__1{
    color: #6C6F75 !important;
}

.c-white{color: #fff !important;}
.bgc-white{background-color: #fff !important;}
.bdc-white{border-color: #fff !important;}

.c-gray__200{color: #F3F6F9 !important;}
.bgc-gray__200{background-color: #F3F6F9 !important;}
.bdc-gray__200{border-color: #F3F6F9 !important;}

.c-gray__300{color: #E4E7EA !important;}
.bgc-gray__300{background-color: #E4E7EA !important;}
.bdc-gray__300{border-color: #E4E7EA !important;}

.c-gray__400{color: #D1D4DA !important;}
.bgc-gray__400{background-color: #D1D4DA !important;}
.bdc-gray__400{border-color: #D1D4DA !important;}

.c-gray__500{color: #C6C9D1 !important;}
.bgc-gray__500{background-color: #C6C9D1 !important;}
.bdc-gray__500{border-color: #C6C9D1 !important;}

.c-gray__600{color: #B4B7BE !important;}
.bgc-gray__600{background-color: #B4B7BE !important;}
.bdc-gray__600{border-color: #B4B7BE !important;}

.c-gray__700{color: #8D8F94 !important;}
.bgc-gray__700{background-color: #8D8F94 !important;}
.bdc-gray__700{border-color: #8D8F94 !important;}

.c-gray__800{color: #6D6F73 !important;}
.bgc-gray__800{background-color: #6D6F73 !important;}
.bdc-gray__800{border-color: #6D6F73 !important;}

.c-gray__900{color: #333333 !important;}
.bgc-gray__900{background-color: #333333 !important;}
.bdc-gray__900{border-color: #333333 !important;}

.c-mint__100{color: #DDF1EF !important;}
.bgc-mint__100{background-color: #DDF1EF !important;}
.bdc-mint__100{border-color: #DDF1EF !important;}

.c-mint__200{color: #BCE3E0 !important;}
.bgc-mint__200{background-color: #BCE3E0 !important;}
.bdc-mint__200{border-color: #BCE3E0 !important;}

.c-mint__300{color: #9AD5D0 !important;}
.bgc-mint__300{background-color: #9AD5D0 !important;}
.bdc-mint__300{border-color: #9AD5D0 !important;}

.c-mint__400{color: #79C7C1 !important;}
.bgc-mint__400{background-color: #79C7C1 !important;}
.bdc-mint__400{border-color: #79C7C1 !important;}

.c-mint__500{color: #57B9B1 !important;}
.bgc-mint__500{background-color: #57B9B1 !important;}
.bdc-mint__500{border-color: #57B9B1 !important;}

.c-mint__600{color: #46948E !important;}
.bgc-mint__600{background-color: #46948E !important;}
.bdc-mint__600{border-color: #46948E !important;}

.c-mint__700{color: #346F6A !important;}
.bgc-mint__700{background-color: #346F6A !important;}
.bdc-mint__700{border-color: #346F6A !important;}

.c-mint__800{color: #234A47 !important;}
.bgc-mint__800{background-color: #234A47 !important;}
.bdc-mint__800{border-color: #234A47 !important;}

.c-mint__900{color: #112523 !important;}
.bgc-mint__900{background-color: #112523 !important;}
.bdc-mint__900{border-color: #112523 !important;}

.c-red__100{color: #FFDEDE !important;}
.bgc-red__100{background-color: #FFDEDE !important;}
.bdc-red__100{border-color: #FFDEDE !important;}

.c-red__200{color: #FFBEBE !important;}
.bgc-red__200{background-color: #FFBEBE !important;}
.bdc-red__200{border-color: #FFBEBE !important;}

.c-red__300{color: #FF9D9D !important;}
.bgc-red__300{background-color: #FF9D9D !important;}
.bdc-red__300{border-color: #FF9D9D !important;}

.c-red__400{color: #FF7D7D !important;}
.bgc-red__400{background-color: #FF7D7D !important;}
.bdc-red__400{border-color: #FF7D7D !important;}

.c-red__500{color: #FF5C5C !important;}
.bgc-red__500{background-color: #FF5C5C !important;}
.bdc-red__500{border-color: #FF5C5C !important;}

.c-red__600{color: #CC4A4A !important;}
.bgc-red__600{background-color: #CC4A4A !important;}
.bdc-red__600{border-color: #CC4A4A !important;}

.c-red__700{color: #993737 !important;}
.bgc-red__700{background-color: #993737 !important;}
.bdc-red__700{border-color: #993737 !important;}

.c-red__800{color: #662525 !important;}
.bgc-red__800{background-color: #662525 !important;}
.bdc-red__800{border-color: #662525 !important;}

.c-red__900{color: #331212 !important;}
.bgc-red__900{background-color: #331212 !important;}
.bdc-red__900{border-color: #331212 !important;}

.font-size__12{font-size: 12px !important;}
.font-size__13{font-size: 13px !important;}
.font-size__14{font-size: 14px !important;}
.font-size__15{font-size: 15px !important;}
.font-size__16{font-size: 16px !important;}
.font-size__17{font-size: 17px !important;}
.font-size__18{font-size: 18px !important;}
.font-size__19{font-size: 19px !important;}
.font-size__20{font-size: 20px !important;}
.font-size__21{font-size: 21px !important;}
.font-size__22{font-size: 22px !important;}
.font-size__23{font-size: 23px !important;}
.font-size__24{font-size: 24px !important;}
.font-size__25{font-size: 25px !important;}
.font-size__26{font-size: 26px !important;}
.font-size__27{font-size: 27px !important;}
.font-size__28{font-size: 28px !important;}
.font-size__29{font-size: 29px !important;}
.font-size__30{font-size: 30px !important;}
.font-size__31{font-size: 31px !important;}
.font-size__32{font-size: 32px !important;}
.font-size__33{font-size: 33px !important;}
.font-size__34{font-size: 34px !important;}
.font-size__35{font-size: 35px !important;}
.font-size__36{font-size: 36px !important;}
.font-size__37{font-size: 37px !important;}
.font-size__38{font-size: 38px !important;}
.font-size__39{font-size: 39px !important;}
.font-size__40{font-size: 40px !important;}
.font-size__41{font-size: 41px !important;}
.font-size__42{font-size: 42px !important;}
.font-size__43{font-size: 43px !important;}
.font-size__44{font-size: 44px !important;}
.font-size__45{font-size: 45px !important;}
.font-size__46{font-size: 46px !important;}
.font-size__47{font-size: 47px !important;}
.font-size__48{font-size: 48px !important;}
.font-size__49{font-size: 49px !important;}
.font-size__50{font-size: 50px !important;}
.font-size__60{font-size: 60px !important;}
.font-size__70{font-size: 70px !important;}
.font-size__80{font-size: 80px !important;}
.font-size__90{font-size: 90px !important;}
.font-size__100{font-size: 100px !important;}
.font-weight__100{font-weight: 100 !important;}
.font-weight__200{font-weight: 200 !important;}
.font-weight__300{font-weight: 300 !important;}
.font-weight__400{font-weight: 400 !important;}
.font-weight__500{font-weight: 500 !important;}
.font-weight__600{font-weight: 600 !important;}
.font-weight__700{font-weight: 700 !important;}
.font-weight__800{font-weight: 800 !important;}
.font-weight__900{font-weight: 900 !important;}
.margin-bottom__1{margin-bottom: 1px !important;}
.margin-bottom__1{margin-bottom: 1px !important;}
.margin-bottom__2{margin-bottom: 2px !important;}
.margin-bottom__3{margin-bottom: 3px !important;}
.margin-bottom__4{margin-bottom: 4px !important;}
.margin-bottom__5{margin-bottom: 5px !important;}
.margin-bottom__6{margin-bottom: 6px !important;}
.margin-bottom__7{margin-bottom: 7px !important;}
.margin-bottom__8{margin-bottom: 8px !important;}
.margin-bottom__9{margin-bottom: 9px !important;}
.margin-bottom__10{margin-bottom: 10px !important;}
.margin-bottom__11{margin-bottom: 11px !important;}
.margin-bottom__12{margin-bottom: 12px !important;}
.margin-bottom__13{margin-bottom: 13px !important;}
.margin-bottom__14{margin-bottom: 14px !important;}
.margin-bottom__15{margin-bottom: 15px !important;}
.margin-bottom__16{margin-bottom: 16px !important;}
.margin-bottom__17{margin-bottom: 17px !important;}
.margin-bottom__18{margin-bottom: 18px !important;}
.margin-bottom__19{margin-bottom: 19px !important;}
.margin-bottom__20{margin-bottom: 20px !important;}
.margin-bottom__21{margin-bottom: 21px !important;}
.margin-bottom__22{margin-bottom: 22px !important;}
.margin-bottom__23{margin-bottom: 23px !important;}
.margin-bottom__24{margin-bottom: 24px !important;}
.margin-bottom__25{margin-bottom: 25px !important;}
.margin-bottom__26{margin-bottom: 26px !important;}
.margin-bottom__27{margin-bottom: 27px !important;}
.margin-bottom__28{margin-bottom: 28px !important;}
.margin-bottom__29{margin-bottom: 29px !important;}
.margin-bottom__30{margin-bottom: 30px !important;}
.margin-bottom__31{margin-bottom: 31px !important;}
.margin-bottom__32{margin-bottom: 32px !important;}
.margin-bottom__33{margin-bottom: 33px !important;}
.margin-bottom__34{margin-bottom: 34px !important;}
.margin-bottom__35{margin-bottom: 35px !important;}
.margin-bottom__36{margin-bottom: 36px !important;}
.margin-bottom__37{margin-bottom: 37px !important;}
.margin-bottom__38{margin-bottom: 38px !important;}
.margin-bottom__39{margin-bottom: 39px !important;}
.margin-bottom__40{margin-bottom: 40px !important;}
.margin-bottom__41{margin-bottom: 41px !important;}
.margin-bottom__42{margin-bottom: 42px !important;}
.margin-bottom__43{margin-bottom: 43px !important;}
.margin-bottom__44{margin-bottom: 44px !important;}
.margin-bottom__45{margin-bottom: 45px !important;}
.margin-bottom__46{margin-bottom: 46px !important;}
.margin-bottom__47{margin-bottom: 47px !important;}
.margin-bottom__48{margin-bottom: 48px !important;}
.margin-bottom__49{margin-bottom: 49px !important;}
.margin-bottom__50{margin-bottom: 50px !important;}
.margin-bottom__51{margin-bottom: 51px !important;}
.margin-bottom__52{margin-bottom: 52px !important;}
.margin-bottom__53{margin-bottom: 53px !important;}
.margin-bottom__54{margin-bottom: 54px !important;}
.margin-bottom__55{margin-bottom: 55px !important;}
.margin-bottom__56{margin-bottom: 56px !important;}
.margin-bottom__57{margin-bottom: 57px !important;}
.margin-bottom__58{margin-bottom: 58px !important;}
.margin-bottom__59{margin-bottom: 59px !important;}
.margin-bottom__60{margin-bottom: 60px !important;}
.margin-bottom__61{margin-bottom: 61px !important;}
.margin-bottom__62{margin-bottom: 62px !important;}
.margin-bottom__63{margin-bottom: 63px !important;}
.margin-bottom__64{margin-bottom: 64px !important;}
.margin-bottom__65{margin-bottom: 65px !important;}
.margin-bottom__66{margin-bottom: 66px !important;}
.margin-bottom__67{margin-bottom: 67px !important;}
.margin-bottom__68{margin-bottom: 68px !important;}
.margin-bottom__69{margin-bottom: 69px !important;}
.margin-bottom__70{margin-bottom: 70px !important;}
.margin-bottom__71{margin-bottom: 71px !important;}
.margin-bottom__72{margin-bottom: 72px !important;}
.margin-bottom__73{margin-bottom: 73px !important;}
.margin-bottom__74{margin-bottom: 74px !important;}
.margin-bottom__75{margin-bottom: 75px !important;}
.margin-bottom__76{margin-bottom: 76px !important;}
.margin-bottom__77{margin-bottom: 77px !important;}
.margin-bottom__78{margin-bottom: 78px !important;}
.margin-bottom__79{margin-bottom: 79px !important;}
.margin-bottom__80{margin-bottom: 80px !important;}
.margin-bottom__81{margin-bottom: 81px !important;}
.margin-bottom__82{margin-bottom: 82px !important;}
.margin-bottom__83{margin-bottom: 83px !important;}
.margin-bottom__84{margin-bottom: 84px !important;}
.margin-bottom__85{margin-bottom: 85px !important;}
.margin-bottom__86{margin-bottom: 86px !important;}
.margin-bottom__87{margin-bottom: 87px !important;}
.margin-bottom__88{margin-bottom: 88px !important;}
.margin-bottom__89{margin-bottom: 89px !important;}
.margin-bottom__90{margin-bottom: 90px !important;}
.margin-bottom__91{margin-bottom: 91px !important;}
.margin-bottom__92{margin-bottom: 92px !important;}
.margin-bottom__93{margin-bottom: 93px !important;}
.margin-bottom__94{margin-bottom: 94px !important;}
.margin-bottom__95{margin-bottom: 95px !important;}
.margin-bottom__96{margin-bottom: 96px !important;}
.margin-bottom__97{margin-bottom: 97px !important;}
.margin-bottom__98{margin-bottom: 98px !important;}
.margin-bottom__99{margin-bottom: 99px !important;}
.margin-bottom__100{margin-bottom: 100px !important;}

.button--point{
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #fff;
    background-color: #57B9B1 !important;
}
.button--point.height-40{
    height: 40px;
}
.button--point .text{
    font-size: 16px;
    font-weight: 600;
}
.button--point.height-40 .text{
    font-size: 14px;
}
.button--gray-stroke{
    display: flex;
    height: 40px;
    border: 1px solid #E4E7EA;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.button--gray-stroke.height-48{
    height: 48px;
}
.button--gray-stroke.height-52{
    height: 52px;
}
.button--gray-stroke .text{
    font-size: 14px;
    color: #C6C9D1;
    font-weight: 400;
}
.button--gray-stroke.enabled .text{
    color: #6D6F73;
}
.button--gray-stroke .ico{
    margin-left: 8px;
}
.button--gray-stroke .ico img{
    vertical-align: middle;
}
.button--point-stroke{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 48px;
    border: 1px solid #57B9B1;
    border-radius: 8px;
}
.button--point-stroke .text{
    font-size: 14px;
    font-weight: 400;
}
.full-layout{
    position: relative;
    display: flex;
    align-items: center;
    height: 100dvh;
    margin: -60px 0 -64px;
}
.full-layout.align-items-start{
    padding: 62px 0 120px;
    align-items: flex-start;
}
.full-layout__area{
    width: 100%;
    padding: 30px 20px;
    max-height: 100%;
    overflow-y: auto;
}
.full-layout__wrap{}
.common-item__title-area{
    position: relative;
    margin: 0 0 12px;
}
.common-item__text-area{}
.common-item__title-wrap{}
.common-item__title{
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}
.common-item__text-wrap{}
.common-item__text{
    color: #8D8F94;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
.common-item__button-area{
    position: absolute;
    right: 0;
    bottom: 0;
}
.common-item__button-wrap{}
.common-item__button{
    display: flex;
    height: 26px;
    align-items: center;
}
.common-item__button-title{
    color: #6D6F73;
    font-size: 12px;
    font-weight: 300;
}
.common-item__button-icon{
    margin-left: 4px;
}
.common-box__padding-24-20{
    padding: 24px 20px !important;
}
.common-box__padding-0-20{
    padding: 0 20px !important;
}

.common-line{
    width: 100%;
    height: 1px;
    background-color: #E4E7EA;
    text-indent: -9999px;
    font-size: 0;
    margin: 28px 0;
}
.common-line.m-20-0{
    margin: 20px 0;
}
.common-line__gray{
    height: 8px;
    background-color: #F3F6F9;
    text-indent: -99999px;
}
.item__heart{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    z-index: 90;
}
.common-form{}
.common-form-title__area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.common-form-title__wrap{
    display: flex;
    align-items: center;
}
.common-form-title__ico{
    margin-right: 8px;
}
.common-form-title__text{}
.common-form-title__desc-wrap{}
.common-form-title__desc{}
.common-input-list{}
.common-input-list__wrap{
    margin: -20px 0 0;
}
.common-input-list__item{
    padding: 20px 0 0;
}
.common-input-list__inner{}
.common-input-list__title-wrap{}
.common-input-list__title{
    color: #6D6F73;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
}
.mvp-reservation-edit{
    padding-bottom: 24px;
}
.mvp-reservation-edit .common-input-list__title{
    font-weight: 500;
}
.common-input-list__field{
    margin: 8px 0 0;
}
.common-input-list__field--inner{
    position: relative;
}
.common-input-list__icon{
    position: absolute;
    top: 50%;
    right: 8px;
    display: flex;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.common-input-list__icon.r16{
    right: 16px;
}
.common-input-list__icon.align-right{
    width: auto;
    justify-content: flex-end;
}
.common-input-list__field input,
.common-input-list__field select,
.common-select__dropdown{
    display: block !important;
    width: 100% !important;
    height: 48px;
    line-height: 46px;
    border: 1px solid #E4E7EA;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
}
.common-input-list__field input[type='hidden']{
    display: none !important;
}
.common-input-list__field input[type='date']{
    display: block;
    -webkit-appearance: none;
}
.common-input-list__field input[type='date']::-webkit-date-and-time-value{
    text-align: left;
}
.common-textarea{
    width: 100%;
    height: 200px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #E4E7EA;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
}
.common-input-list__field input::placeholder,
.common-textarea::placeholder{
    font-weight: 300;
    color: #C6C9D1;
}
.common-textarea.h160{
    height: 160px;
}
.common-input-list__error{
    display: none;
    padding: 8px 8px 0;
}
.common-input-list__error--text{
    color: #FF5C5C;
    font-size: 12px;
    font-weight: 300;
}
.common-label-list{
    margin: 8px 0 0;
}
.accordion-area .common-label-list{
    margin: 0;
    padding: 5px 0;
}
.common-label-list .common-label-list__wrap{}
.common-label-list .common-label-list__item{}
.common-label-list .common-label-list__inner{}
.common-label-list .common-label-list__label{
    position: relative;
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: flex-start;
}
.common-label-list .common-label-list__label input[type="checkbox"]{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
.common-label-list .common-label-list__label label{
    position: relative;
    padding-left: 30px;
    color: #6D6F73;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
}
.accordion-area .common-label-list .common-label-list__label label{
    width: 100%;
}
.accordion-area .common-label-list .common-label-list__label .icon{
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/down-arrow-ico-gray-900-24x24.svg') 50% 50% no-repeat;
    margin-top: -12px;
    transition: .25s;-moz-transition: .25s;-webkit-transition: .25s;-o-transition: .25s;
    text-indent: -9999px;
}
.accordion-area.on .common-label-list .common-label-list__label .icon{
    transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);
}
.common-label-list .common-label-list__label label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background: url('../images/label-checkbox.svg') 50% 50% no-repeat;
}
.common-label-list .common-label-list__label input:checked + label::before{
    background-image: url('../images/label-checkbox-on.svg');
}
.common-label-list__style2{
    margin: 4px 0 0;
    padding: 8px 0 12px;
    border-top: 1px solid #000;
}
.common-label-list__style2 .common-label-list__wrap{
    margin: -4px 0 0;
}
.common-label-list__style2 .common-label-list__item{
    padding: 4px 0 0;
}
.common-label-list__style2 .common-label-list__inner{
    position: relative;
}
.common-label-list__style2 .common-label-list__label{
    position: relative;
}
.common-label-list__style2 .common-label-list__label input[type="checkbox"]{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
.common-label-list__style2 .common-label-list__label label{
    position: relative;
    display: flex;
    height: 36px;
    align-items: center;
    padding-left: 40px;
}
.common-label-list__style2 .common-label-list__label label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background: url('../images/check-icon-24x24.svg') 50% 50% no-repeat;
}
.common-label-list__style2 .common-label-list__label input:checked + label::before{
    background-image: url('../images/check-icon-on-24x24.svg');
}
.common-label-list__style2 .common-label-list__label label strong{
    margin-right: 4px;
    font-size: 14px;
    font-weight: 400;
}
.common-label-list__style2 .common-label-list__text{
    color: #6D6F73;
    font-size: 14px;
    font-weight: 300;
}
.common-label-list__style2 .common-label-list__button-wrap{
    position: absolute;
    right: 0;
    top: 0;
}
.common-label-list__style2 .common-label-list__button{
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
}
.common-label-list__style2 .common-label-list__icon{}
.common-label-list__style2 .common-label-list__inner-options{
    display: flex;
    align-items: center;
    margin-right: -16px;
    padding-left: 34px;
}
.common-label-list__style2 .common-label-list__inner-options label{
    margin-right: 16px;
}
.common-submit-button{
    margin: 12px 0 0;
}
.common-quantity{}
.common-quantity__inner{
    display: flex;
    align-items: center;
}
.common-quantity__title-wrap{
    margin-right: 32px;
}
.common-quantity__title{}
.common-quantity__input-area{
    position: relative;
}
.common-quantity__button{
    position: absolute;
    top: 0;
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
}
.common-quantity__button--minus{
    left: 0;
}
.common-quantity__button--plus{
    right: 0;
}
.common-quantity__icon{
    width: 13px;
    height: 1.5px;
    background-color: #57B9B1;
    text-indent: -9999px;
}
.common-quantity__button--plus .common-quantity__icon::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.5px;
    height: 13px;
    transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);
    background-color: #57B9B1;
}
.common-quantity__input-wrap{}
.common-quantity__input{
    width: 120px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #E4E7EA;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}
.common-button-wrap{}
.common-button{
    display: flex;
    width: 100%;
    height: 52px;
    align-items: center;
    justify-content: center;
    background-color: #E4E7EA;
    border-radius: 8px;
    color: #C6C9D1;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.common-button.height-40{
    height: 40px;
}
.common-button.height-48{
    height: 48px;
}
.common-button.common-button-storke-mint{
    border: 1px solid #57B9B1;
    background-color: #fff;
    color: #57B9B1;
    font-weight: 600;
}
.common-button.on{
    background-color: #57B9B1;
    color: #fff;
}
.common-button.common-right-arrow{
    position: relative;
    padding-right: 40px;
    padding-left: 8px;
}
.common-button.common-right-arrow .ico{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
.common-button .ico{
    margin-right: 4px;
}
.white-image img{
    filter: brightness(0) invert(1);
}
.common-button__text{
    font-size: 16px;
    font-weight: 400;
}
input:focus-visible{
    outline-color: #57B9B1;
}
.accordion-area .common-input-list{
    display: none;
    padding: 12px 0 0;
}
.accordion-area.on .common-input-list{
    display: block;
}
.common-input-list__item.error .common-input-list__title{
    color: #FF5C5C;
}
.common-input-list__item.error .common-quantity__input,
.common-input-list__item.error input{
    border-color: #FF5C5C;
}
.common-input-list__item.error input:focus-visible{
    outline-color: #FF5C5C;
}
.common-input-list__item.error .common-input-list__error{
    display: block;
}
.common-input-list__item.disabled .common-input-list__field input{
    background-color: #F3F6F9;
    border-color: #E4E7EA;
    color: #C6C9D1;
}
.common-input-list__description{
    padding: 8px 8px 0;
}
.common-input-list__description .common-input-list__description--text{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.3;
}
.common-input-list__button--area{
    position: relative;
    padding-right: 89px;
}
.common-input-list__button--area .common-input-list__button--area{
    margin-right: -89px;
}
.common-input-list__button--wrap{
    position: absolute;
    right: 0;
    top: 0;
}
.common-input-list__button--wrap .common-input-list__button{
    display: flex;
    width: 81px;
    height: 48px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #000;
}
.common-input-list__button--wrap .common-input-list__button .text{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
}
.common-modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
.common-modal__bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -99999px;
    background-color: rgba(0, 0, 0, 0.3);
}
.common-modal__area{
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    height: 100%;
}
.common-modal__wrap{
    width: 100%;
    padding: 30px 47px;
    max-height: 100%;
    overflow-y: auto;
}
.common-modal__inner{
    background-color: #fff;
    border-radius: 16px;
}
.common-modal__body{
    padding: 16px;
}
.common-modal__text-area{
    text-align: center;
}
.common-modal__icon-wrap{}
.common-modal__icon{}
.common-modal__text-wrap{
    margin: 4px 0 0;
}
.common-modal__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}
.common-modal__button-area{
    border-top: 1px solid #E4E7EA;
}
.common-modal__button-wrap{}
.common-modal__button{
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.common-modal__button-text{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.privacy-modal-popup{
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    background-color: #fff;
    z-index: 999999;
}
.privacy-modal-popup__text-area{
    height: 100%;
}
.privacy-modal-popup__text-wrap{
    height: 100%;
}
.privacy-modal-popup__text{
    width: 100%;
    height: 100%;
    border-width: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
}
.common-bottom-sheet-popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
.common-bottom-sheet-popup__bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-indent: -9999px;
}
.common-bottom-sheet-popup__area{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 16px 16px 0 0;
}
.common-bottom-sheet-popup__wrap{}
.common-bottom-sheet-popup__body{
    text-align: center;
}
.common-bottom-sheet-popup__text-area{}
.common-bottom-sheet-popup__icon-wrap{}
.common-bottom-sheet-popup__icon{}
.common-bottom-sheet-popup__text-wrap{
    margin: 12px 0 0;
}
.common-bottom-sheet-popup__title{}
.common-bottom-sheet-popup__title strong{
    margin-right: 4px;
}
.common-bottom-sheet-popup__description{
    margin: 8px 0 0;
}
.common-bottom-sheet-popup__footer{}
.common-bottom-sheet-popup__button-area{}
.common-bottom-sheet-popup__button-wrap{}
.common-bottom-sheet-popup__button{
    display: flex;
    width: 100%;
    height: 52px;
    align-items: center;
    justify-content: center;
}
.common-bottom-sheet-popup__button-text{}
.find-account{}
.common__header-tab{}
.common__header-tab__nav{}
.common__header-tab__list{
    display: flex;
    align-items: center;
}
.common__header-tab__item{
    width: 50%;
}
.common__header-tab__item--active{}
.common__header-tab__button{
    position: relative;
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.common__header-tab__button::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
}
.common__header-tab__text{}
.common__header-tab__item--active .common__header-tab__button::before{
    background-color: #57B9B1;
}
.common__header-tab__item--active .common__header-tab__button .common__header-tab__text{
    color: #57B9B1 !important;
    font-weight: 600 !important;
}
.common-bottom-button-list{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    padding: 0 20px;
}
.common-bottom-button-list-position{
    position: relative;
    bottom: 0;
}
.common-bottom-button-list__wrap{
    margin: -12px 0 0;
}
.common-bottom-button-list__item{
    padding: 12px 0 0;
}
.common-bottom-button-list-double{}
.common-bottom-button-list-double .common-bottom-button-list__wrap{
    display: flex;
    align-items: center;
    margin: -12px -4px 0;
}
.common-bottom-button-list-double .common-bottom-button-list__item{
    width: 50%;
    padding: 12px 4px 0;
}
.common-bottom-button-list__inner{}
.common-bottom-button-list__button-wrap{}
.common-bottom-button-list__button{}
.common-toast-popup{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999999;
    padding: 0 20px 16px;
}
.common-toast-popup__text-area{
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(108, 111, 117, 0.7);
    border-radius: 8px;
}
.common-toast-popup__text-wrap{}
.common-toast-popup__text{}
.underline-button{}
.underline-button__area{}
.underline-button__wrap{
    display: flex;
    justify-content: flex-start;
}
.underline-button__button{
    display: flex;
    height: 60px;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
}
.underline-button__text{
    text-decoration: underline;
}
.common-guidance{
    margin: 32px 0 0;
}
.common-guidance__text-area{
    padding: 20px;
    border-radius: 8px;
}
.common-guidance__text-wrap{}
.common-guidance__title{}
.common-guidance__text{}
.common-guidance__label{
    margin: 16px 0 0;
}
.common-guidance__label-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.common-guidance__label-wrap input{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
.common-guidance__label label{
    position: relative;
    display: flex;
    height: 36px;
    padding: 0 16px 0 36px;
    align-items: center;
    justify-content: center;
}
.common-guidance__label-text{}
.common-guidance__label label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    background: url('../images/label-checkbox.svg') 50% 50% no-repeat;
}
.common-guidance__label-wrap input:checked + label::before{
    background-image: url('../images/label-checkbox-on.svg');
}
.common-modal__confirm-button-area{
    display: flex;
    align-items: center;
    margin: 0 -4px;
    padding: 0 24px 16px;
}
.common-modal__confirm-button-wrap{
    width: 50%;
    padding: 0 4px;
}
.common-modal__confirm-button{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.common-modal__button--cancel{}
.common-modal__button--confirm{}
.common-modal__confirm-button-text{}

.ch-plugin .ch-plugin-script{
    min-width: 0 !important;
}

/* 1440 + */
.full-screen{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg-1440.png') 50% 50% no-repeat;
    background-size: cover;
}
.full-screen__content-area{
    display: flex;
    height: 100dvh;
    max-width: 950px;
    padding-right: 530px;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    text-align: right;
}
.full-screen__text-area{}
.full-screen__logo{}
.full-screen__title-wrap{}
.full-screen__title{}
.full-screen__description{}
.full-screen__button-wrap{
    display: flex;
    justify-content: flex-end;
}
.full-screen__button{
    display: flex;
    height: 33px;
    padding: 0 16px;
    align-items: center;
    border-radius: 50px;
    background-color: #57B9B1;
    color: #fff;
}
.full-screen__button-text{}
.full-screen__button-icon{
    margin-left: 8px;
}

@media all and (min-width: 1024px){
    .flatpickr-calendar.open{
        left: 20px !important;
        right: auto !important;
    }
    .flatpickr-calendar.hasTime{
        left: 50% !important;
        right: auto !important;
        margin-left: 30px !important;
    }
    .full-screen{
        display: block;
    }
    body{
        max-width: 950px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
    }
    #wrapper{
        position: relative;
        width: 100%;
        min-height: 100vh;
        max-width: 465px;
        z-index: 20;
        background-color: #fff;
        padding-bottom: 0;
    }
    .bottom-fixed-nav{
        display: none;
    }
    #sidebar{
        position: absolute;
    }
    /* popup */
    #header,
    .common-modal,
    .privacy-modal-popup,
    .common-bottom-sheet-popup,
    .common-toast-popup,
    .search{
        width: 465px !important;
        left: 50% !important;
        margin-left: 10px !important;
    }
}
/* sorting list */
.sorting-popup{}
.sorting-popup__title-area{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.sorting-popup__title-wrap{}
.sorting-popup__title{}
.sorting-popup__ico-wrap{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
.sorting-popup__close-button{}
.sorting-popup__close-icon{}
.sorting-popup__radio-list-area{
    padding: 0 20px 40px;
}
.sorting-popup__list-wrap{
    margin: -12px 0 0;
}
.sorting-popup__list-con{
    padding: 12px 0 0;
}
.sorting-popup__list-inner{
    position: relative;
}
.sorting-popup__list-inner input{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
.sorting-popup__list-inner label{
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
    padding-left: 36px;
}
.sorting-popup__list-inner label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background: url('../images/radio-icon-24x24.svg') 50% 50% no-repeat;
}
.sorting-popup__list-inner input:checked + label::before{
    background-image: url('../images/radio-icon-active-24x24.svg');
}
.sorting-popup__text{}
/* mvp more items */
.mvp-item-visual{
    position: relative;
}
.mvp-item-visual__bg{
    height: 0;
    /* padding-bottom: 49.23%; */
    padding-bottom: 192px;
}
.mvp-item-visual__bg img{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mvp-item-visual__content-text-area{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mvp-item-visual__title-wrap{}
.mvp-item-visual__title{}
.mvp-item-visual__text-wrap{}
.mvp-item-visual__text{}
.more-items{
    padding: 16px 20px 24px;
}
.more-items__filter-title-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more-items__title-wrap{}
.more-items__title{}
.more-items__option-button{}
.more-items__button{
    display: flex;
    height: 36px;
    align-items: center;
    padding-left: 4px;
}
.more-items__button-text{}
.more-items__button-icon{}
.more-items__list-area{}
.more-items__list-wrap{
    margin: -24px -8px 0;
    font-size: 0;
}
.more-items__list-con{
    display: inline-block;
    width: 50%;
    padding: 24px 8px 0;
    font-size: 10px;
    vertical-align: top;
}
.more-items__list-inner{}
.more-items__item-box{}
.more-items__thumb-area{
    position: relative;
}
.more-items__thumb-wrap{}
.more-items__thumb-wrap a{}
.more-items__thumb{
    position: relative;
    height: 0;
    padding-bottom: 100%;
}
.more-items__thumb img{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.more-items__heart{}
.more-items__info{
    margin: 12px 0 0;
}
.more-items__info-wrap{}
.more-items__category{
    color: #8D8F94;
    font-size: 12px;
    font-weight: 500;
}
.more-items__subject{
    margin: 4px 0 0;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 34px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.more-items__price-wrap{
    display: flex;
    align-items: center;
    margin: 8px 0 0;
}
.more-items__old-price{
    margin-right: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #B4B7BE;
    text-decoration: line-through;
}
.more-items__price{
    color: #57B9B1;
    font-size: 14px;
    font-weight: 700;
}
.warning-text{
    padding: 0 20px;
}
.warning-text__area{
    padding: 16px 0;
    border-radius: 8px;
    text-align: center;
}
.warning-text__ico-wrap{}
.warning-text__ico{}
.warning-text__text-wrap{}
.warning-text__text{}
.common-list__area{}
.common-list__wrap{
    font-size: 0;
}
.common-list__wrap .common-list__con{
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
}
.common-list__wrap.list1 .common-list__con{width:100%;}
.common-list__wrap.list2 .common-list__con{width:50%;}
.common-list__wrap.list3 .common-list__con{width:33.3333%;}
.common-list__wrap.list4 .common-list__con{width:25%;}
.common-list__wrap.list5 .common-list__con{width:20%;}
.common-list__wrap.list6 .common-list__con{width:16.6667%;}
.common-list__wrap.list7 .common-list__con{width:14.2857%;}
.common-list__wrap.list8 .common-list__con{width:12.5%;}
.common-list__wrap.list9 .common-list__con{width:11.1111%;}
.common-list__wrap.list10 .common-list__con{width:10%;}
.common-list__wrap.gap1{margin-right:-1px;}
.common-list__wrap.gap1 .common-list__con{padding-right:1px;}
.common-list__wrap.gap2{margin-right:-2px;}
.common-list__wrap.gap2 .common-list__con{padding-right:2px;}
.common-list__wrap.gap3{margin-right:-3px;}
.common-list__wrap.gap3 .common-list__con{padding-right:3px;}
.common-list__wrap.gap4{margin-right:-4px;}
.common-list__wrap.gap4 .common-list__con{padding-right:4px;}
.common-list__wrap.gap5{margin-right:-5px;}
.common-list__wrap.gap5 .common-list__con{padding-right:5px;}
.common-list__wrap.gap6{margin-right:-6px;}
.common-list__wrap.gap6 .common-list__con{padding-right:6px;}
.common-list__wrap.gap7{margin-right:-7px;}
.common-list__wrap.gap7 .common-list__con{padding-right:7px;}
.common-list__wrap.gap8{margin-right:-8px;}
.common-list__wrap.gap8 .common-list__con{padding-right:8px;}
.common-list__wrap.gap9{margin-right:-9px;}
.common-list__wrap.gap9 .common-list__con{padding-right:9px;}
.common-list__wrap.gap10{margin-right:-10px;}
.common-list__wrap.gap10 .common-list__con{padding-right:10px;}
.common-list__wrap.gap11{margin-right:-11px;}
.common-list__wrap.gap11 .common-list__con{padding-right:11px;}
.common-list__wrap.gap12{margin-right:-12px;}
.common-list__wrap.gap12 .common-list__con{padding-right:12px;}
.common-list__wrap.gap13{margin-right:-13px;}
.common-list__wrap.gap13 .common-list__con{padding-right:13px;}
.common-list__wrap.gap14{margin-right:-14px;}
.common-list__wrap.gap14 .common-list__con{padding-right:14px;}
.common-list__wrap.gap15{margin-right:-15px;}
.common-list__wrap.gap15 .common-list__con{padding-right:15px;}
.common-list__wrap.gap16{margin-right:-16px;}
.common-list__wrap.gap16 .common-list__con{padding-right:16px;}
.common-list__wrap.gap17{margin-right:-17px;}
.common-list__wrap.gap17 .common-list__con{padding-right:17px;}
.common-list__wrap.gap18{margin-right:-18px;}
.common-list__wrap.gap18 .common-list__con{padding-right:18px;}
.common-list__wrap.gap19{margin-right:-19px;}
.common-list__wrap.gap19 .common-list__con{padding-right:19px;}
.common-list__wrap.gap20{margin-right:-20px;}
.common-list__wrap.gap20 .common-list__con{padding-right:20px;}
.common-list__wrap.gap21{margin-right:-21px;}
.common-list__wrap.gap21 .common-list__con{padding-right:21px;}
.common-list__wrap.gap22{margin-right:-22px;}
.common-list__wrap.gap22 .common-list__con{padding-right:22px;}
.common-list__wrap.gap23{margin-right:-23px;}
.common-list__wrap.gap23 .common-list__con{padding-right:23px;}
.common-list__wrap.gap24{margin-right:-24px;}
.common-list__wrap.gap24 .common-list__con{padding-right:24px;}
.common-list__wrap.gap25{margin-right:-25px;}
.common-list__wrap.gap25 .common-list__con{padding-right:25px;}
.common-list__wrap.gap26{margin-right:-26px;}
.common-list__wrap.gap26 .common-list__con{padding-right:26px;}
.common-list__wrap.gap27{margin-right:-27px;}
.common-list__wrap.gap27 .common-list__con{padding-right:27px;}
.common-list__wrap.gap28{margin-right:-28px;}
.common-list__wrap.gap28 .common-list__con{padding-right:28px;}
.common-list__wrap.gap29{margin-right:-29px;}
.common-list__wrap.gap29 .common-list__con{padding-right:29px;}
.common-list__wrap.gap30{margin-right:-30px;}
.common-list__wrap.gap30 .common-list__con{padding-right:30px;}
.common-list__wrap.gap31{margin-right:-31px;}
.common-list__wrap.gap31 .common-list__con{padding-right:31px;}
.common-list__wrap.gap32{margin-right:-32px;}
.common-list__wrap.gap32 .common-list__con{padding-right:32px;}
.common-list__wrap.gap33{margin-right:-33px;}
.common-list__wrap.gap33 .common-list__con{padding-right:33px;}
.common-list__wrap.gap34{margin-right:-34px;}
.common-list__wrap.gap34 .common-list__con{padding-right:34px;}
.common-list__wrap.gap35{margin-right:-35px;}
.common-list__wrap.gap35 .common-list__con{padding-right:35px;}
.common-list__wrap.gap36{margin-right:-36px;}
.common-list__wrap.gap36 .common-list__con{padding-right:36px;}
.common-list__wrap.gap37{margin-right:-37px;}
.common-list__wrap.gap37 .common-list__con{padding-right:37px;}
.common-list__wrap.gap38{margin-right:-38px;}
.common-list__wrap.gap38 .common-list__con{padding-right:38px;}
.common-list__wrap.gap39{margin-right:-39px;}
.common-list__wrap.gap39 .common-list__con{padding-right:39px;}
.common-list__wrap.gap40{margin-right:-40px;}
.common-list__wrap.gap40 .common-list__con{padding-right:40px;}
.common-list__inner{}
/* select popup */
.select-popup{
    padding: 0 20px 40px;
}
.select-popup__ico-area{}
.select-popup__ico-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
}
.select-popup__ico{
    width: 80px;
    height: 5px;
    border-radius: 50px;
    font-size: 0;
    text-indent: -9999px;
    background-color: #E4E7EA;
}
.select-popup__list{
    overflow: hidden;
}
.select-popup__list-area{
    height: 196px;
    overflow-y: auto;
}
.select-popup__list-wrap{
    margin: -12px 0 0;
}
.select-popup__list-con{
    padding: 12px 0 0;
}
.select-popup__list-inner{}
.select-popup__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}
.select-popup__button-text{
    font-size: 16px;
    font-weight: 500;
    color: #B4B7BE;
}
.select-popup__list-con.select .select-popup__button{
    border-radius: 8px;
    background-color: #F3F6F9;
}
.select-popup__list-con.select .select-popup__button-text{
    color: #333;
}

/* nav icon slider */
.nav-icon-slider{
    padding: 20px;
}
.nav-icon-slider__swiper{
    overflow: visible;
}
.nav-icon-slider__wrapper{}
.nav-icon-slider__slide{
    text-align: center;
}
.nav-icon-slider2 .nav-icon-slider__slide{}
.nav-icon-slider__slide-inner{}
.nav-icon-slider__button{
    display: block;
    max-width: 60px;
    margin: 0 auto;
}
.nav-icon-slider__icon{}
.nav-icon-slider__icon img{
    width: 100%;
}
.search .nav-icon-slider__icon{
    position: relative;
    height: 0;
    padding-bottom: 100%;
}
.search .nav-icon-slider__icon img{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.nav-icon-slider__title-wrap{
    margin: 8px 0 0;
}
.nav-icon-slider__title{
    font-size: 12px;
    font-weight: 400;
    color: #6D6F73;
    line-height: 1.2;
}
.nav-icon-slider2 .nav-icon-slider__title{
    color: #333;
}
  
/* search */
.search{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 999999;
}
.search__header{
    position: relative;
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0 60px;
}
.search__left{
    position: absolute;
    left: 20px;
    top: 10px;
}
.search__right{
    position: absolute;
    right: 20px;
    top: 10px;
}
.search__button{}
.search__icon{}
.search__form{
    position: relative;
    width: 100%;
}
.search__input-wrap{}
.search__input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-width: 0;
    background-color: #F3F6F9;
    padding-left: 16px;
    border-radius: 8px;
}
.search__input::placeholder{
    color: #B4B7BE;
}
.search__button-wrap{
    position: absolute;
    right: 4px;
    top: 2px;
}
.search__button-wrap .button{}
.search-default__body{
    overflow: hidden;
}
.search__recent-area{
    padding: 16px 20px 24px;
}
.search__top-title-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}
.search__title-wrap{}
.search__title{}
.search__button-wrap{}
.search__button-text{}
.search__empty{
    margin: 8px 0;
    text-align: center;
}
.search__empty-text{}
.search__recent-slide{
    margin: 8px 0 0;
}
.search__recent-slide-area{
    overflow: visible;
}
.search__recent-slide-wrap{}
.search__recent-slide-con{
    width: auto !important;
}
.search__recent-slide-inner{}
.search__recent-slide-button{
    display: flex;
    align-items: center;
    height: 36px;
    border: 1px solid #E4E7EA;
    border-radius: 50px;
    padding: 0 4px 0 16px;
}
.search__recent-slide-title-wrap{}
.search__recent-slide-title{
    white-space: nowrap;
}
.search__recent-slide-icon{}
.search-popular{
    padding: 32px 20px 24px;
}
.search-popular__top-title-area{}
.search-popular__title-wrap{}
.search-popular__title{}
.search-popular__list-area{}
.search-popular__list-wrap{
    display: grid;
    grid-auto-flow: column; /* 열 우선 */
    grid-template-rows: repeat(5, auto); /* 5행 */
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin: -2px 0 0;
}
.search-popular__list-con{
    padding: 2px 0 0;
}
.search-popular__list-inner{}
.search-popular__button{
    display: flex;
    height: 32px;
    align-items: center;
}
.search-popular__rank{
    width: 16px;
    min-width: 16px;
    max-width: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-right: 8px;
    color: #333;
    white-space: nowrap;
}
.search-popular__text{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #6D6F73;
}
.search-autocomplete{
    padding: 8px 20px 24px;
}
.search-autocomplete__area{}
.search-autocomplete__list-area{}
.search-autocomplete__list-wrap{
    margin: -8px 0 0;
}
.search-autocomplete__list-con{
    padding: 8px 0 0;
}
.search-autocomplete__list-inner{}
.search-autocomplete__button{
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 8px;
}
.search-autocomplete__icon{
    width: 20px;
    margin-right: 8px;
}
.search-autocomplete__text{}
.search-empty{
    padding: 81px 0 0;
    text-align: center;
}
.search-empty__area{}
.search-empty__img-wrap{}
.search-empty__img{}
.search-empty__text-wrap{}
.search-empty__title{}
.search-empty__text{}
.search-result{}
.search-result__area{}
.search-result__top-text-area{
    text-align: center;
}
.search-result__text-wrap{}
.search-result__text{}
.search-result__keyword{}
.search-result__count{}
.chip-icon-slider{
    padding: 8px 20px 16px;
    border-bottom: 1px solid #E4E7EA;
}
.chip-icon-slider__swiper{
    overflow: visible;
}
.chip-icon-slider__wrapper{}
.chip-icon-slider__slide{
    width: auto !important;
}
.chip-icon-slider__slide-inner{
    position: relative;
}
.chip-icon-slider__slide-inner input{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
.chip-icon-slider__slide-inner label{
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border-radius: 50px;
    border: 1px solid #E4E7EA;
}
.chip-icon-slider__title-wrap{}
.chip-icon-slider__title{
    white-space: nowrap;
    color: #6D6F73;
    font-weight: 500;
    font-size: 14px;
}
.chip-icon-slider__slide-inner input:checked + label{
    background-color: #57B9B1;
    border-color: #57B9B1;
}
.chip-icon-slider__slide-inner input:checked + label .chip-icon-slider__title{
    color: #fff;
}