.t1{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    padding-right: 40px;
}
.t2{
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}
.t2{
    position: absolute;
    right: 8px;
    top: 8px;
}
.t3{
}
.t4{
}
.t5{
}
.t6{
}
.t7{
}
.t8{
}
.t9{
}
.t10{
}
.t11{
}
.t12{
}