.t1{
    margin: -16px -12px 0;
    font-size: 0;
}
.t2{
    display: inline-block;
    width: 50%;
    padding: 16px 12px 0;
    font-size: 10px;
    vertical-align: top;
}
.t2{
    position: relative;
    display: block;
    margin-bottom: 12px;
}
.t3{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.t4{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.t5{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 90;
}
.t6{
    margin-bottom: 4px;
}
.t7{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8D8F94;
}
.t8{
    margin-bottom: 8px;
}
.t9{
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #333333;
}
.t10{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.t11{
    margin-right: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: line-through;
    color: #B4B7BE;
}
.t12{
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #57B9B1;
}