.t1{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000030;
    z-index: 9999;
}
.t2{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 296px;
    transform: translate(-50% -50%);
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}
.t2{
    margin-bottom: 4px;
}
.t3{
    margin: 0 auto;
}
.t4{
    mb16
}
.t5{
}
.t6{
}
.t7{
}
.t8{
}
.t9{
}
.t10{
}
.t11{
}
.t12{
}