/* 메인 비주얼 */
#mv{
    position: relative;
}
.mv__slider{}
.mv__slider-wrapper{}
.mv__slide-con{}
.mv__slide-inner{
    position: relative;
}
.mv__slide-bg{
    height: 0;
    padding-bottom: 90.25%;
}
.mv__slide-bg img{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mv__text-area{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 25px;
    color: #fff;
}
.mv__title-wrap{}
.mv__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}
.mv__text-wrap{
    margin: 8px 0 0;
}
.mv__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}
#mv .mv__pagination{
    position: absolute;
    left: auto;
    top: auto;
    right: 10px;
    bottom: 10px;
    display: flex;
    width: auto;
    height: 20px;
    line-height: 20px;
    padding: 0 15px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.7);
}
#mv .mv__pagination .swiper-pagination-current{
    margin-right: 4px;
    color: #fff;
}
#mv .mv__pagination .swiper-pagination-total{
    margin-left: 4px;
}

/* row item list */
.row-item-list{
    padding: 24px 20px;
}
.row-item-list__items{}
.row-item-list__list{
    margin: -12px 0 0;
}
.row-item-list__item{
    padding: 12px 0 0;
}
.row-item-list__item-inner{}
.row-item-list__box{
    display: flex;
    align-items: center;
}
.row-item-list__thumb-area{
    width: 29.7%;
}
.row-item-list__thumb-wrap{
    position: relative;
}
.row-item-list__thumb{}
.row-item-list__thumb img{
    width: 100%;
}
.row-item-list__info{
    width: 70.3%;
    padding-left: 16px;
}
.row-item-list__info-wrap{}
.row-item-list__category{
    color: #8D8F94;
    font-size: 12px;
    font-weight: 400;
}
.row-item-list__subject{
    margin: 4px 0 0;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 34px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.row-item-list__price-wrap{
    display: flex;
    align-items: center;
    margin: 16px 0 0;
}
.row-item-list__old-price{
    margin-right: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #B4B7BE;
    text-decoration: line-through;
}
.row-item-list__price{
    color: #57B9B1;
    font-size: 14px;
    font-weight: 700;
}
.row-item-list__bottom{
    margin: 16px 0 0;
    padding: 9px 0;
}

/* col item list */
.col-item-list{}
.col-item-list__items{}
.col-item-list__list{
    margin: -32px 0 0;
}
.col-item-list__item{
    padding: 32px 0 0;
}
.col-item-list__item-inner{}
.col-item-list__slide-area{
    overflow: visible;
}
.col-item-list__slide-wrapper{}
.col-item-list__slide{}
.col-item-list__slide-inner{}
.col-item-list__thumb-area{
    position: relative;
}
.col-item-list__thumb-wrap{}
.col-item-list__thumb{}
.col-item-list__thumb img{
    width: 100%;
}
.col-item-list__heart{}
.col-item-list__info{
    margin: 12px 0 0;
}
.col-item-list__info-wrap{}
.col-item-list__category{
    color: #8D8F94;
    font-size: 12px;
    font-weight: 400;
}
.col-item-list__subject{
    margin: 4px 0 0;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 34px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.col-item-list__price-wrap{
    display: flex;
    align-items: center;
    margin: 8px 0 0;
}
.col-item-list__old-price{
    margin-right: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #B4B7BE;
    text-decoration: line-through;
}
.col-item-list__price{
    color: #57B9B1;
    font-size: 14px;
    font-weight: 700;
}

/* main sns */
.main-sns-info{
    padding: 40px 0;
    background-color: rgba(221, 241, 239, 0.6);
    text-align: center;
}
.main-sns-info__area{}
.main-sns-info__text{}
.main-sns-info__title-wrap{}
.main-sns-info__title{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375;
}
.main-sns-info__text-wrap{
    margin: 2px 0 0;
}
.main-sns-info__description{
    color: #6C6F75;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
}
.main-sns-info__list{
    margin: 24px 0 0;
}
.main-sns-info__list-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -8px;
}
.main-sns-info__item{
    padding: 0 8px;
}
.main-sns-info__item-inner{}
.main-sns-info__button{}
.main-sns-info__icon{}
.main-sns-info__icon img{}
