/* login */
.login{}
.login__area{}
.login__wrap{}
.login__text-area{
    margin: 0 0 24px;
    text-align: center;
}
.login__icon-wrap{}
.login__icon{}
.login__text-wrap{
    margin: 20px 0 0;
}
.login__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
}
.login__description{
    margin: 6px 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #8D8F94;
}
.login-nav{
    margin: 12px 0 0;
}
.login-nav__list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -16px 0 -17px;
}
.login-nav__item{
    position: relative;
    padding: 0 16px 0 17px;
}
.login-nav__item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 1px;
    height: 17px;
    background-color: #E4E7EA;
    margin-top: -8.5px;
}
.login-nav__item:first-child:before{
    display: none;
}
.login-nav__inner{}
.login-nav__button{
    display: flex;
    height: 36px;
    align-items: center;
}
.login-nav__text{
    color: #6D6F73;
    font-size: 14px;
    font-weight: 300;
}
.social-login{
    margin: 2px 0 0;
}
.social-login__title{
    position: relative;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.social-login__title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E4E7EA;
}
.social-login__title-wrap{
    position: relative;
    padding: 0 10px;
    background-color: #fff;
}
.social-login__title-text{
    color: #6D6F73;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
}
.social-login__list{
    margin: 14px 0 0;
}
.social-login__list-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -8px;
}
.social-login__item{
    padding: 0 8px;
}
.social-login__inner{}
.social-login__button{}
.social-login__icon{}

/* join */
#join{
    padding: 16px 20px 46px;
}

/* find account */
.find-account__area{
    padding: 40px 20px;
}
.find-account__area .common-form{
    margin: 20px 0 0;
}
.find-account__title-area{}
.find-account__title-wrap{}
.find-account__title{
    line-height: 1.4;
}
.find-account__button-wrap{
    margin: 32px 0 0;
}
.find-id-result{
    text-align: center;
}
.find-id-result__area{}
.find-id-result__wrap{}
.find-id-result__text-area{}
.find-id-result__icon-wrap{}
.find-id-result__icon{}
.find-id-result__title-wrap{
    margin: 24px 0 0;
}
.find-id-result__title{}
.find-id-result__title strong{
    margin-right: 4px;
}
.find-id-result__description{
    margin: 16px 0 0;
}
.find-id-result__email{
    margin: 32px 0 0;
    text-decoration: underline;
}
.find-password-result{}
.find-password-result .common-form{
    margin: 40px 0 0;
}
.find-password-result__area{}
.find-password-result__wrap{}
.find-password-result__text-area{
    text-align: center;
}
.find-password-result__icon-wrap{}
.find-password-result__icon{}
.find-password-result__title-wrap{
    margin: 20px 0 0;
}
.find-password-result__title{}
.find-password-result__description{
    margin: 8px 0 0;
}
/* mypage */
.mypage{}
.mypage__profile{
    padding: 12px 0;
}
.mypage__user-info{
    text-align: center;
    font-size: 0;
}
.mypage__profile-wrap{
    position: relative;
    display: inline-block;
}
.mypage__profile-button{
    width: 112px;
    height: 112px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.mypage__profile-button img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mypage__profile-modify-button{
    position: absolute;
    right: 0;
    bottom: 0;
}
.mypage__profile-modify-button img{}
.mypage__user-info-text{}
.mypage__name{}
.mypage__email{}
.mypage__user-status{}
.mypage__status-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -17px 0 0;
}
.mypage__status-item{
    position: relative;
    width: 105px;
    padding: 0 17px 0 0;
}
.mypage__status-item::before{
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    width: 1px;
    height: 30px;
    margin-top: -15px;
    background-color: #E4E7EA;
}
.mypage__status-item:last-child::before{
    display: none;
}
.mypage__status-button{}
.mypage__status-text{}
.mypage__status-title{}
.mypage__history{}
.mypage__history-title{}
.mypage__history-text{}
.mypage__history-list{
    position: relative;
    padding-left: 14px;
}
.mypage__history-list::before{
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    width: 1px;
    height: calc(100% - 30px);
    background-color: #E4E7EA;
}
.mypage__history-items{
    margin: -24px 0 0;
}
.mypage__history-item{
    position: relative;
    padding: 24px 0 0;
}
.mypage__history-item::before{
    content: '';
    position: absolute;
    left: -17.5px;
    top: 30px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #E4E7EA;
}
.mypage__history-list2 .mypage__history-item::before{
    display: none;
}
.mypage__history-date{}
.mypage__history-date-text{
    line-height: 20px;
}
.mypage__history-product{}
.mypage__product-list{
    margin: -16px 0 0;
}
.mypage__product-item{
    padding: 16px 0 0;
}
.mypage__product-inner{
    padding: 16px 16px 20px;
    border-radius: 8px;
    border: 1px solid #f1f1f1;
}
.mypage__product-status{
    display: flex;
    width: 67px;
    height: 24px;
    margin: 0 0 12px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: #FFF8E3;
    color: #FFBB27;
}
.mypage__product-status.result{
    color: #5592FC;
    background-color: #E3F1FF;
}
.mypage__product-status.cancel{
    color: #FF5C5C;
    background-color: #FFDEDE;
}
.mypage__product-status.wait{
    color: #49C652;
    background-color: #DDF5DF;
}
.mypage__product-box{
    display: flex;
}
.mypage__history-list2 .mypage__product-box{
    align-items: center;
}
.mypage__product-thumb{
    width: 80px;
    max-width: 80px;
    min-width: 80px;
}
.mypage__product-thumb a{
    display: block;
    width: 100%;
    height: 80px;
}
.mypage__product-thumb a img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.mypage__product-info{
    position: relative;
    width: 100%;
    padding-left: 9px;
    padding-right: 45px;
}
.mypage__history-list2 .mypage__product-info{
    padding-right: 0;
}
.mypage__product-category{
    color: #474747;
}
.mypage__product-title{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 17px;
    height: 34px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.mypage__product-date{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 17px;
    height: 17px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.mypage__product-icon{
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    align-items: center;
    justify-content: flex-end;
}
.mypage__product-option{
    margin: 8px 0 0;
    padding: 8px;
    background-color: #F3F6F9;
    color: #6C6F75;
    line-height: 17px;
}
.mypage__history-list2 .mypage__product-option-area{
    margin: 8px 0 0;
    padding: 0 16px 8px;
    background-color: #F3F6F9;
    color: #6C6F75;
    border-radius: 8px;
}
.mypage__history-list2 .mypage__product-option{
    padding: 8px 0 0;
    margin: 0;
}
.mypage__history-footer{}
.mypage__history-button{}
.mypage-info-modify{}
.mypage-info-modify__header{}
.mypage-info-modify__header-wrap{}
.mypage-info-modify__header-text{}
.mypage-info-modify__list{}
.mypage-info-modify__list-wrap{
    margin: -12px 0 0;
}
.mypage-info-modify__item{
    padding: 12px 0 0;
}
.mypage-info-modify__inner{
    display: flex;
}
.mypage-info-modify__title-area{
    width: 110px;
    max-width: 110px;
    min-width: 110px;
}
.mypage-info-modify__title-wrap{}
.mypage-info-modify__title-text{
    height: 45px;
    line-height: 45px;
}
.mypage-info-modify__text-area{
    width: 100%;
    padding-left: 16px;
}
.mypage-info-modify__text-wrap{
    position: relative;
}
.mypage-info-modify__text-con{}
.mypage-info-modify__text{
    height: 45px;
    line-height: 45px;
}
.mypage-info-modify__button-wrap{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
.mypage-info-modify__button{
    display: flex;
    width: 44px;
    height: 35px;
    border: 1px solid #D1D4DA;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.mypage-info-modify__button-text{}
.mypage-info-modify__toggle-button-wrap{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
.mypage-info-modify__toggle-button{
    position: relative;
    width: 44px;
    height: 24px;
    text-indent: -9999px;
    overflow: hidden;
    background-color: #E4E7EA;
    border-radius: 50px;
}
.mypage-info-modify__toggle-icon{
    position: absolute;
    left: 2px;
    top: 2px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: .25s;-moz-transition: .25s;-webkit-transition: .25s;-o-transition: .25s;
}
.mypage-info-modify__toggle-button.on{
    background-color: #57B9B1;
}
.mypage-info-modify__toggle-button.on .mypage-info-modify__toggle-icon{
    left: 22px;
}
.mypage-info-modify__icon-wrap{
    margin-right: -16px;
}
.mypage-info-modify__icon{
    padding-right: 16px;
}
/* MVP 주문 정보 */
.order-info-top{
    padding: 20px 20px 32px;
}
.order-info-top__order{}
.order-info-top__reserver{
    margin: 24px 0 0;
    padding: 24px 0 0;
    border-top: 1px solid #E4E7EA;
}
.order-info-top__title-area{}
.order-info-top__title{}
.order-info-top__text-wrap{
    margin: -8px 0 0;
}
.order-info-top__text-con{
    display: flex;
    align-items: center;
    padding: 8px 0 0;
}
.order-info-top__text-title{
    width: 88px;
    min-width: 88px;
    max-width: 88px;
}
.order-info-top__reserver .order-info-top__text-title,
.order-info-top__pay .order-info-top__text-title{
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}
.order-info-top__text-value{}
.order-info-botton{
    padding: 32px 20px;
}
.order-info-bottom__total{
    margin: 16px 0 0;
    padding: 16px 0 0;
    border-top: 1px solid #E4E7EA;
}
.order-info-bottom__total__text-con{
    display: flex;
}
.order-info-bottom__total__text-title{
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}
.order-info-bottom__total__text-value{}